<div class="row justify-content-center mt-3">
  <div class="col-6">
    <div class="alert alert-warning" *ngIf="description.invalid">
      Enter valid description
    </div>
    <div class="alert alert-warning" *ngIf="targetDate.invalid">
      Enter valid target date
    </div>

    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          autocomplete="off"
          [(ngModel)]="todo.description"
          required="required"
          #description="ngModel"
        />
      </div>
      <div class="mb-3">
        <label for="targetDate" class="form-label">Target Date</label>
        <input
          type="date"
          class="form-control"
          name="targetDate"
          autocomplete="off"
          required="required"
          #targetDate="ngModel"
          [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'"
          (ngModelChange)="todo.targetDate = $event"
        />
      </div>
      <button class="btn btn-success">Save</button>
    </form>
  </div>
</div>
